<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		
		<!-- This property will define the driver used in the project -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

		<!-- Connection string for connectivity with the database -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>

		<!-- Database User-name -->
		<property name="hibernate.connection.username">java_user</property>

		<!-- Database User-Password -->
		<property name="hibernate.connection.password">java123</property>

		<!-- Database User-name -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<property name="hibernate.show_sql">true</property>
		
		<property name="hibernate.format_sql">true</property>
		
		<mapping
			class="com.spitSpring.HiberanateHQL.hibernate.entity.Employee" />
	</session-factory>
</hibernate-configuration>
